extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to delete
    else
        - let Deviceid = toShow._id
        - let name = toShow.name
        - let ram = toShow.ram
        - let color = toShow.color
        - let actionid = "/resource/Devices/" + Deviceid
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='DeviceAttr mr-3') Devices ID is:
                div #{Deviceid}
            div.row
                div(class='DeviceAttr mr-3')  name is:
                div #{name}
            div.row
                div(class='DeviceAttr mr-3') ram is:
                div #{ram}
            div.row
                div(class='DeviceAttr mr-3') color is:
                div #{color}
            button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
            button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
        script.
            function cancel() {
            // Go back to the home page for the costume collection
                window.location.href='/Devices'
            }
        script.
            function deleteOnid() {
                console.log("starting delete")
                // delete first
                fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
                }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                alert("Delete succeded")
                window.location.href='/Devices'
                // TODO handle body
                }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
                });
            }
