extends layout

block content
  style.
    .instrument-container {
      margin-top: 20px;
    }

    .instrumentAttr {
      font-weight: bold;
    }

    .instrument-info {
      margin-bottom: 10px;
    }

  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let instrumentid = toShow._id
    - let name = toShow.name
    - let ram = toShow.ram
    - let color = toShow.color

    .instrument-container
      .row.instrument-info
        .col-md-3
          div(class='instrumentAttr') Devices ID:
        .col-md-3
          div #{Devicesid}

      .row.instrument-info
        .col-md-3
          div(class='instrumentAttr') name:
        .col-md-3
          div #{name}

      .row.instrument-info
        .col-md-3
          div(class='instrumentAttr') ram:
        .col-md-3
          div #{ram}

      .row.instrument-info
        .col-md-3
          div(class='instrumentAttr') color:
        .col-md-3
          div #{color}