extends layout

block content
  style.
    .Device-container {
      margin-top: 20px;
    }

    .DeviceAttr {
      font-weight: bold;
    }

    .Device-info {
      margin-bottom: 10px;
    }

  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let Deviceid = toShow._id
    - let name = toShow.name
    - let ram = toShow.ram
    - let color = toShow.color

    .Device-container
      .row.Device-info
        .col-md-3
          div(class='DeviceAttr') Devices ID:
        .col-md-3
          div #{Deviceid}

      .row.Device-info
        .col-md-3
          div(class='DeviceAttr') name:
        .col-md-3
          div #{name}

      .row.Device-info
        .col-md-3
          div(class='DeviceAttr') ram:
        .col-md-3
          div #{ram}

      .row.Device-info
        .col-md-3
          div(class='DeviceAttr') color:
        .col-md-3
          div #{color}