extends layout
block content
  h1= title
  - const results = results
  script.
    function buy(index){
      alert("You purchased items "+ (index+1));
    }
  div.container-fluid
    div.row
        each item, index in results
          div.col-sm-2(onclick = `buy(${index})`)
             p name: #{item.name}
             p color: #{item.color}
             p ram: $#{item.ram.toFixed(2)}